<div class="container">
  <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div>
  <div class="row">
    <div class="col">
      <label><pre>&lt;Button /&gt;</pre></label>
      <div>
        <button type="button" class="button">Default</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label><pre>&lt;Button variant="outline" /&gt;</pre></label>
      <div>
        <button type="button" class="button-outline">Default</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label><pre>&lt;Button variant="text" /&gt;</pre></label>
      <div>
        <button type="text" class="button-text">Default</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label><pre>&lt;Button disableShadow /&gt;</pre></label>
      <div>
        <button type="button" class="button-disableShadow">Default</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label><pre>&lt;Button disabled /&gt;</pre></label>
      <div>
        <button type="button" disabled class="button-disabled">Default</button>
      </div>
    </div>
    <div class="col">
      <label><pre>&lt;Button disabled variant="text" /&gt;</pre></label>
      <div>
        <button type="text" disabled class="button-disabled-text">
          Default
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><pre>&lt;Button startIcon="local_grocery_store" /&gt;</pre></label>
      <div>
        <button type="button" class="btn btn-primary">
          <i class="material-icons">local_grocery_store</i>
          Default
        </button>
      </div>
    </div>
    <div class="col-6">
      <label><pre>&lt;Button endIcon="local_grocery_store" /&gt;</pre></label>
      <div>
        <button type="button" class="btn btn-primary">
          Default <i class="material-icons">local_grocery_store</i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label><pre>&lt;Button size="sm" /&gt;</pre></label>
      <div>
        <button type="button" class="btn btn-primary btn-sm">Default</button>
      </div>
    </div>
    <div class="col-4">
      <label><pre>&lt;Button size="md" /&gt;</pre></label>
      <div>
        <button type="button" class="btn btn-primary btn-md">Default</button>
      </div>
    </div>
    <div class="col-4">
      <label><pre>&lt;Button size="lg" /&gt;</pre></label>
      <div>
        <button type="button" class="btn btn-primary btn-lg">Default</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><pre>&lt;Button colour="default" /&gt;</pre></label>
      <div>
        <button type="button" class="button-default">Default</button>
      </div>
    </div>
    <div class="col-3">
      <label><pre>&lt;Button colour="primary" /&gt;</pre></label>
      <div>
        <button type="button" class="button-primary">Default</button>
      </div>
    </div>
    <div class="col-3">
      <label><pre>&lt;Button colour="secondary" /&gt;</pre></label>
      <div>
        <button type="button" class="button-secondary">Secondary</button>
      </div>
    </div>
    <div class="col-3">
      <label><pre>&lt;Button colour="danger" /&gt;</pre></label>
      <div>
        <button type="button" class="button-danger">Danger</button>
      </div>
    </div>
  </div>
  <div class="row">
    <h6>Icons : https://google.github.io/material-design-icons/</h6>
  </div>
  <div class="row">
    <h6>
      created by
      <a href="https://devchallenges.io/portfolio/manthanank">manthanank</a> -
      <a href="https://devchallenges.io">devChallenges.io</a>
    </h6>
  </div>
</div>
